/* promotion section */

.promotion__content {
    padding-top: 90px;
    padding-bottom: 90px;    
}

.promotion__list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.promotion__item {
    float: left;
    display: inline-block;
    width: 33.3%;
    margin-left: 0px;
    text-align: center;
    vertical-align: top;
}

.promotion__text {
    margin-bottom: 30px;
}

.promotion__price {
    margin-bottom: 50px;
    font-weight: 700;
}

.promotion__button {
    padding: 20px 80px;
    border: 3px solid rgb(162, 0, 70);
    border-radius: 10px;
    color:rgb(162, 0, 70);
    box-shadow: inset 0px 1px 0px 0px rgba(129, 34, 52, 0.4);
    display: inline-block;
    font-weight: 400;
    transition: all 0.5s ease-out;
}

.promotion__button:hover {
    border: 3px solid transparent;
    background-color: rgb(255, 108, 136);
    box-shadow: none;
    color: #fff;
}

.promotion__button:active {
    margin-top: 1px;
}

.promotion__pricelist {
    color: #a20046;
    font-size: 20px;
    cursor: pointer;
    display: block;
    text-align: center;
}
